body {
  width: 1300px;
  height: 1847px;
  margin: 0% auto;  
}

header {
  /*height: 565px;
  background-image: url(assets/header_background.svg);*/
  background-color: green;
}

#logo h1 {
  float: left;
  margin: 59.5px 0 0 4px;
  
  font-style: italic;
  font-size: 41px;
  line-height: 0.8;
  font-family: "Lucida Sans", "Futura", sans-serif;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  color: #ffffff;
}

#logo img {
  float: left;
  clear: right;
  margin: 28px 0 0 140px;
}

nav ul {
  width: 453px;
  height: 41px;
  float: right;
  display: grid;
  grid-template-columns: 171.7px 134px 148px;
  margin: 71px 140px 0 0;
  
  background-color: #f5c506;
  box-shadow: -4px -5px 0px 0px rgba(245, 197, 6, 0.27), 
              -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

nav img {
  float: left;
  clear: right;
  margin-top: 11px;
}

#about img {
  margin-left: 39px;
}

#services {
  border-right: 1px solid #dcb105;
  border-left: 1px solid #dcb105;
}

#services img {
  margin-left: 14px;
}

#contact img {
  margin-left: 17.2px;
}

nav a {
  display: block;
  float: left;
  margin: 14px 0 0 9px;
  
  font-weight: 600;
  font-size: 17px;
  line-height: 0.7;
  font-family: "Segoe WP";
  text-transform: uppercase;
  letter-spacing: 0.17px;
  text-decoration: none;
  color: #9b7d08;
}

#contact a {
  margin-left: 7.8px;
}

nav li:hover {
  filter: brightness(1000000%);
} 

video {
  width: 549px;
  height: 327px;

  float:left;
  clear:both;
  margin: 56.3px 0 0 150px;
}

#top h2 {
  float:left;
  clear:right;

  font-weight: 400;
  font-size: 63px;
  line-height: 0.7;
  font-family: "Asap";
  letter-spacing: 0.63px;
  text-transform: uppercase;
    
  color: #f5c506;
}

#top h2 p:first-child {
  margin: 144.7px 0 0 90px;
}

#top h2 p:last-child {
  margin-top: 31.2px;
  margin-left: 49.8px;

  color: #ffffff;
}

img.control.left {
  position: relative;
  top: 300px;
  left: -452px;

  opacity: 0.71;
}

img.control.right {
  position: relative;
  top: 300px;
  left: 780.2px;
  align-content: right;

}

img.control:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #ffffff);
}

#top {
  width: 100%;
  height: 566px;
  background-image: url("assets/top-background.jpg")
}

