body {
  width: 1300px;
  height: 1847px;
  margin: 0% auto;  
}


/*                    Header                       */



#logo h1 {
  float: left;
  margin: 59.5px 0 0 4px;
  
  font-style: italic;
  font-size: 41px;
  line-height: 0.8;
  font-family: "Lucida Sans", "Futura", sans-serif;
  letter-spacing: 0.41px;
  text-transform: uppercase;
  color: #ffffff;
}

#logo img.desktop {
  float: left;
  clear: right;
  margin: 28px 0 0 140px;
}

#logo img.mobile {
  display: none;
}

nav ul {
  width: 453px;
  height: 41px;
  float: right;
  display: grid;
  grid-template-columns: 171.7px 134px 148px;
  margin: 71px 140px 0 0;
  
  background-color: #f5c506;
  box-shadow: -4px -5px 0px 0px rgba(245, 197, 6, 0.27), 
              -8px -8px 0px 0px rgba(245, 197, 6, 0.27);
}

nav img {
  float: left;
  clear: right;
  margin-top: 11px;
}

#about img {
  margin-left: 39px;
}

#services {
  border-right: 1px solid #dcb105;
  border-left: 1px solid #dcb105;
}

#services img {
  margin-left: 14px;
}

#contact img {
  margin-left: 17.2px;
}

nav a {
  display: block;
  float: left;
  margin: 14px 0 0 9px;
  
  font-weight: 600;
  font-size: 17px;
  line-height: 0.7;
  font-family: "Segoe WP", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.17px;
  text-decoration: none;
  color: #9b7d08;
}

nav li:last-child a {
  margin-left: 8px;
}

nav li:hover {
  filter: brightness(1000000%);
} 


/*                    Top section                       */



#top {
  height: 566px;
  background-image: url("assets/top-background.jpg")
}

#top video.mobile {
  display: none;
  overflow: hidden;
}

#top video.desktop {
  width: 549px;
  height: 327px;

  float:left;
  clear:both;
  margin: 56.3px 0 0 150px;
}

#top h2 {
  float:left;
  clear:right;

  font-weight: 400;
  font-size: 63px;
  line-height: 0.7;
  font-family: "Asap", "Tahoma", sans-serif;
  letter-spacing: 0.63px;
  text-transform: uppercase;
    
  color: #f5c506;
}

#top h2 span:first-child {
  display: block;
  margin: 144.7px 0 0 90px;
}

#top h2 span:last-child {
  display: block;
  margin-top: 31.2px;
  margin-left: 49.8px;

  color: #ffffff;
}

img.control.left {
  position: relative;
  top: 300px;
  left: -452px;

  opacity: 0.71;
}

img.control.right {
  position: relative;
  top: 300px;
  left: 780.2px;
  align-content: right;

}

img.control:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px #ffffff);
}


/*                    Icons section                       */



section#icons {
  height: 212px;

  background-image: url("assets/icons-background.png")
}

#icon-container {
  height: 100%;
  margin: 0 139px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
     
}

div.borders {
  display: grid;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3
}

div.icon {
  margin: auto;
  display: grid;
  justify-items: center;
}

div.icon > span {
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.27px;

}

#design {
  margin-top: 18px;
}

#customise {
  margin-top: 22px;
}

#free {
  margin-top: 17px;
}

div.borders.middle {
  border: none;
}


/*                    News section                       */



section#news {
  height: 508px;
  
  background-image: url(assets/news-background.jpg);
}

#news h2 {
  padding: 42.9px 0 0 140px;

  font-weight: 400;
  font-size: 37px;
  font-family: "PT Sans", "Helvetica", sans-serif;
  line-height: 0.7;
  text-transform: uppercase;
  letter-spacing: 0.37px;

  color: #ffffff;
}

div#add {
  width: 341px;
  height: 233px;
  float: left;
  clear: right;
  margin: 41.7px 0 0 139px;
  background-color: #ec9e03;
}

div#add p {

  padding: 16px 0 0 30px;
  font-weight: 300;
  font-size: 29px;
  line-height: 38px;
  font-family: "Segoe WP", "Arial", sans-serif;
  letter-spacing: 0.29px;

  color: #ffffff;
}

#add img.plus {
  float: right;
  padding: 41px 14px 0 0;
}

#news video {
  float: left;
  clear: right;
  margin-top: 41.7px;
  width: 315px;
  height: 232px;
}

#twitter {
  float: left;
  /* clear: right; */
  margin: 41.7px 0 0 34.3px;
  width: 329px;
  height: 233px;

  background-image: url(assets/twitter-background.png);
}

#twitter span {
  display: block;
  margin: 19px 0 0 285px;
  
  font-weight: 300;
  font-size: 25px;
  line-height: 0.7;
  font-family: "Segoe WP", "Arial", sans-serif;
  letter-spacing: 0.25px;
  color: #ffffff;
}

#twitter img.plus {
  margin: 173px 0 0 309px;
}

div.tweet {
  display: none;
}

#date {
  float: left;
  margin-left: 139px;
  width: 113px;
  height: 86px;

  background-color: #ddb101;
}

#date span:first-child {
  display: block;
  margin: 14px 0 0 29.2px;
  
  font-weight: 700;
  font-size: 51px;
  line-height: 0.7;
  font-family: "Segoe UI", "Arial", sans-serif;
  letter-spacing: 0.51px;

  color: #ffffff;
}

#date span:last-child {
  margin-left: 31.8px;
  font-weight: 400;
  font-size: 21px;
  line-height: 0.7px;
  font-family: "Segoe UI", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.21px;
  
  color: #b26529;
}
#news input[type="range"] {
  margin: 43px 0 0 213px;
  -webkit-appearance: none;
  appearance: none;
  width: 896px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.48);

  border-radius: 15px;
}

#news input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 197px;
  height: 15px;
  background: #ec9e03;
  cursor: pointer;

  border-radius: 15px;
}

#news input::-moz-range-thumb {
  appearance: none;
  width: 197px;
  height: 15px;
  background: #ec9e03;
  cursor: pointer;

  border-radius: 15px;
}

input[type="text"],
input[type="submit"] {
  display: none;
}

img.plus {
  cursor: pointer;
}

img.plus:hover {
  filter: drop-shadow(2px 2px 3px #ffffff);
  filter: drop-shadow(-2px -2px 3px #ffffff);
}


/*                    Advertise section                       */


#advertise {
  height: 498px;

  background-image: url(assets/advertise-background.png)
}

#advertise h2 {
  padding: 48.5px 0 0 350px;

  font-weight: 500;
  font-size: 43px;
  line-height: 0.7;
  font-family: "PT Sans", "Helvetica", sans-serif;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  color: #f5c506;
}

#advertise img.desktop {
  margin: 15px 0 0 138px;
  float:left;
  
}

#advertise img.mobile {
  display: none;
}

#advertise h3 {
  overflow: hidden;
  height: 1px;
  width: 1px;
}

#advertise ul {
  float: left;
  margin: 101px 0 0 101px;

  list-style-image: url("assets/list-point.svg");
}
#advertise li {
  width: 379px;
  
  font-weight: 400;
  font-size: 22px;
  line-height: 1.2em;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: 0.22px;
  color: #a9a9a7;
}

#advertise li:nth-child(1) {
  padding-bottom: 24px;
}

#advertise li:nth-child(2) {
  padding-bottom: 14px;
}

#advertise li:nth-child(3) {
  padding-bottom: 25px;  
}

#advertise span {
  position: relative;
  left: 12px;
} 

#advertise li:first-child span {
  top: 2px;
}


/*                    Footer                          */


footer {
  height: 64px;

  background-color: #4c4c4c;
}

footer img.desktop {
  margin: 5px 140px;
  
}

footer img.mobile {
  display: none;
}


/*                    Adaptive                          */


@media screen and (max-width: 640px) {
  body {
    width: 640px;
    height: 1553px;
  }
  
  /*               HEADER            */
  header {
    position: relative;
    z-index: 2;
    
    height: 62px;
    
    box-shadow: 0px 0px 5px 0px #000000;
  }

  #logo h1 {
    display: none;
    margin: 0 0;
  }

  #logo img.desktop {
    display: none;
  }
 
  #logo img.mobile {
    display: block;
  }

  div#logo {
    width: 185px;
    float: left;
  }

  nav ul img {
    display: none;
  }
  
  nav ul {
    width: 455px;
    height: 62px;
    float: none;
    margin: 0 0;
    grid-template-columns: 171px 133px 149px;
    
    box-shadow: none;
    background-image: url(assets/nav-background-mobile.png);
  }

  nav a {
    margin: 0 0;

    font-weight: 400;
    font-size: 19px;
  }

  nav li {
    padding-top: 25px;
  }
  #about a {
    padding-left: 58px;
  }

  #services a {
    padding-left: 38px;
  }

  #contact a {
    padding-left: 52px;
  }

  nav li:last-child a {
    margin-left: 0;
  }
    
  /*               Top section            */

  img.control {
    display: none;
  }
  #top {
    background-image: none;
    height: 327px;
  }
  #top h2 {
    display: none;
  }

  #top video.desktop {
    display: none;
  }

  #top video.mobile {
    position: relative;
    z-index: 1;

    display: block;
    margin: 0 0;
    
  }
    
  /*              Icons section            */
  
  section#icons {
    position: relative;
    bottom: 9px;
    z-index: 3;
    
    height: 179px;

    background-image: url(assets/section2-background-mobile.png);
  }

  div#icon-container {
    margin: 0 0;
  }

  section#icons div.icon img.no-cloud {
    width: 68px;
  }

  img#cloud {
    width: 89px;
  }

  span#customise,
  span#free {
    margin-top: 21px;
  }

  span#design {
    margin-top: 25px;
  }

  div.icon span {
    font-size: 23px;
    letter-spacing: 0.23px;
  }

  div.borders {
    border: 0;
  }


  /*              News section            */

  section#news {
    position: relative;
    bottom: 9px; 
    height: 485px;

    background-image: none;
  }

  section#news h2 {
    display: none;
  }

  section#news div#date {
    display: none;
  }

  section#news input[type="range"] {
    display: none;
  }

  div#add {
    margin: 11px 0 0 9px;
    width: 299px;
  }

  div#add p {
    display: inline-block;
    padding: 16px 0 0 26px;
    width: 239px;

    font-size: 29px;
    line-height: 33.31px;
    letter-spacing: 0.33px;
  }

  div#add img.plus {
    padding: 203.5px 11.6px 0 0;
  }

  section#news video {
    margin: 11px 0 0 9px;
  }

  div#twitter {
    margin: 8px 0 0;
    width: 100%;

    background-image: url(assets/twitter-background-mobile.png);
  }

  div#twitter span {
    display: none;
  }

  div#twitter img.plus {
    display: none;
  }

  div.tweets {
    margin: 23px 0 0 324px;
  }

  div.tweet {
    display: block;
    width: 285px;
    height: 42px;
    margin-bottom: 14px;

    background-repeat: no-repeat;
  }

  div.tweet p {
    display: inline-block;
    margin: 6px 40px 0 28px;

    font-weight: 400;
    font-size: 13px;
    line-height: 1.2;
    font-family: "Segoe WP", "Arial", sans-serif;
    letter-spacing: 0.13px;

    color: #8f8e8e;
  }

  div.tweet.first {
    background-image: url(assets/bubble.png);
  }

  div.tweet.second {
    background-image: url(assets/bubble2.png);
  }

  div.tweet.third {
    background-image: url(assets/bubble3.png);
  }

  form {
    margin-left: 337px;
  }

  input[type="submit"] {
    display: block;
    width: 69px;
    height: 31px;
    float: left;
    padding: 0 5px 1px 0;

    font-weight: 400;
    font-size: 15px;
    font-family: "Segoe WP", "Arial", sans-serif;
    letter-spacing: 0.15px;

    color: #ffffff;
    background-image: url(assets/button-submit.png);
    background-color: transparent;
    border: 0;    
  }

  input[type="text"] {
    display: block;
    width: 192px;
    height: 29px;
    padding-left: 10px;
    float: left;

    background-image: url(assets/input-text.png);
    background-color: transparent;
    border: 0;
  }

  /*              Advertise section            */

  #advertise {
    position: relative;
    top: -9px;

    height: 466px;
  }

  #advertise h2 {
    padding: 42.8px 0 0 17.4px;

    font-size: 39px;
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.39px;
  }

  #advertise img.desktop {
    display: none;
  }

  #advertise img.mobile {
    display: block;
    margin: 45px 0 0 27px;
  }

  #advertise ul {
    display: none;
  }

  /*              Footer              */

  footer {
    position: relative;
    top: -9px;

    height: 43px;

    box-shadow: 0px 0px 6px 0px #000000;
  }

  footer img.desktop {
    display: none;
  }

  footer img.mobile {
    display: block;
    padding: 6px 0 0 65px;
    width: 133px;
  }
}  